html {
    box-sizing: border-box;
    background: #bbbbbb;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
}


.startGame {
    display: block;
    width: 600px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: auto;

}

#dino {
    width: 50px;
    height: 50px;
    background-image: url(images/dino\ t\ rex\ game\ PNG\ .png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;

}

#cactus {
    width: 100%;
    height: 100%;
    background-image: url(images/GreenCactus.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    position: relative;
    top: 100px;
    left: 570px;

    animation: cactusMove 1s infinite linear;
}

@keyframes cactusMove {
    0% {
        left: 570px;
    }

    100% {
        left: -20px;
    }
}

.jump {
    animation: jumpDino 0.3s linear;
}

@keyframes jumpDino {
    0% {
        top: 150px;
    }

    30% {
        top: 130px;
    }

    50% {
        top: 80px;
    }

    80% {
        top: 130px;
    }

    100% {
        top: 150px;
    }
}

#game-over {
    display: none;
    font-size: 64px;
    text-align: center;
    color: gray;
    margin-bottom: 40px;
}

#restart-game {
    display: none;
    z-index: 1;
    background-color: gray;
    color: white;
    width: 150px;
    height: 75px;
    border-radius: 10%;
    border: none;
    font-size: 32px;

    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.volumeInput {
    display: flex;
    margin-bottom: 30px;
}

.headphonesMusic {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}